* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header-container {
    background-color: #d3b4ac;
}

header p, h1 {
    color: #9d5a4d;
}

h1 {
    font-size: 2em;
}

.header-text {
    padding: 10px;
}

.header-image {
    object-fit: cover;
    max-width: 100%;
}

.servicios {
    background-color: #bc9484;
    color: #d5beb1;
}

.servicios-text {
    color: #9d5a4d;
}

.servicios-card {
    background-color: #9d5a4d;
    width: 85%;
    height: 640px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.makeup {
    background-image: url('./images/model-4900868_640.jpg');
}

.selfmakeup {
    background-image: url('./images/face-5528557_640.jpg');
}

.novias {
    background-image: url('./images/girl-in-flowers-1374223_640.jpg');
}

footer {
    background-color: #dcc9c0;
    color: #9d5a4d;
}

footer h4 {
    padding-top: 10px;
}

footer p {
    padding: 10px;
}

